/*Helpers*/
/*Helpers*/

/*Inicio del Parallax*/
body {
  background-color: var(--color-neutral-900);
  color: var(--color-light);
  font-size: var(--size-font);
  margin: 0;
  padding: 0;
}
p {
  font-size: 1.1em;
  margin-bottom: 10px !important;
  margin-top: 5px;
}
.mB-30 {
  margin-bottom: 30px !important;
}
.top-text {
  padding-top: 150px;
}
.m-center {
  margin: 0 auto;
}
.marginTop-20 {
  margin-top: 20%;
}

.cloneable {
  padding: var(--container-padding);
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  display: flex;
  position: relative;
}

.parallax__fade {
  --color-dark-rgb: 0, 0, 0;
  background: linear-gradient(
    to top,
    rgba(var(--color-dark-rgb), 1) 0%,
    rgba(var(--color-dark-rgb), 0.738) 19%,
    rgba(var(--color-dark-rgb), 0.541) 34%,
    rgba(var(--color-dark-rgb), 0.382) 47%,
    rgba(var(--color-dark-rgb), 0.278) 56.5%,
    rgba(var(--color-dark-rgb), 0.194) 65%,
    rgba(var(--color-dark-rgb), 0.126) 73%,
    rgba(var(--color-dark-rgb), 0.075) 80.2%,
    rgba(var(--color-dark-rgb), 0.042) 86.1%,
    rgba(var(--color-dark-rgb), 0.021) 91%,
    rgba(var(--color-dark-rgb), 0.008) 95.2%,
    rgba(var(--color-dark-rgb), 0.002) 98.2%,
    transparent 100%
  );
}

.osmo-icon-svg {
  width: 8em;
  position: relative;
}

.parallax__header {
  z-index: 2;
  padding: var(--section-padding) var(--container-padding);
  justify-content: center;
  align-items: center;
  min-height: 100svh;
  display: flex;
  position: relative;
}

.parallax {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.parallax__content {
  background: url(https://i.gifer.com/J938.gif);
  padding: 5% 5% 10% 5%;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  display: flex;
  position: relative;
}

.cover {
  object-fit: cover;
  width: 100%;
  max-width: none;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.parallax__visuals {
  object-fit: cover;
  width: 100%;
  max-width: none;
  height: 120%;
  position: absolute;
  top: 0;
  left: 0;
}

.parallax__placeholder {
  z-index: 0;
  opacity: 0;
  object-fit: cover;
  width: 100%;
  max-width: none;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.parallax__layers {
  object-fit: cover;
  width: 100%;
  max-width: none;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}

.cover-copy {
  object-fit: cover;
  width: 100%;
  max-width: none;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.parallax__fade {
  z-index: 30;
  object-fit: cover;
  width: 100%;
  max-width: none;
  height: 20%;
  position: absolute;
  bottom: 0;
  left: 0;
}

.parallax__black-line-overflow {
  z-index: 20;
  background-color: var(--color-black);
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: -1px;
  left: 0;
}

.parallax__title {
  pointer-events: auto;
  text-align: center;
  text-transform: none;
  margin-top: 0;
  margin-bottom: 0.1em;
  margin-right: 0.075em;
  font-family: PP Neue Corp Wide, sans-serif;
  font-size: 11vw;
  font-weight: 800;
  line-height: 1;
  position: relative;
}
.parallax__radial-gradient {
  z-index: 10;
  background-image: radial-gradient(
    circle farthest-corner at 50% 50%,
    transparent,
    var(--color-black)
  );
  opacity: 0.5;
  pointer-events: none;
  mix-blend-mode: multiply;
  position: fixed;
  inset: 0;
}

.parallax__layer-title {
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60vh;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
}

.parallax__layer-img {
  pointer-events: none;
  object-fit: cover;
  width: 100%;
  max-width: none;
  height: 117.5%;
  position: absolute;
  top: -17.5%;
  left: 0;
}

.parallax__layer-img.is-third {
  top: -20%;
}

@font-face {
  font-family: "PP Neue Corp Wide";
  src: url("https://cdn.prod.website-files.com/671752cd4027f01b1b8f1c7f/6717e399d30a606fed425914_PPNeueCorp-WideUltrabold.woff2")
    format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
.text-inner-wrapper {
  font-family: PP Neue Corp Wide, sans-serif;
  width: 100%;
  display: inline-block;
  font-size: 7vw;
  position: relative;
  padding-left: 0px;
  text-align: center;
}
.text-inner-wrapper .word {
  position: absolute;
  width: 100%;
  white-space: nowrap;
  opacity: 0;
  top: 0;
  color: white;
}
.text-inner-wrapper .word span {
  display: inline-block !important;
}
.text-inner-wrapper .word .letter {
  display: inline-block;
  position: relative;
  transform: translateZ(25px);
  transform-origin: 50% 50% 25px;
}
.text-inner-wrapper .word .letter.out {
  transform: rotateX(90deg);
  transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.text-inner-wrapper .word .letter.behind {
  transform: rotateX(-90deg);
}
.text-inner-wrapper .word .letter.in {
  transform: rotateX(0deg);
  transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.text-inner-wrapper .word .letter:empty {
  margin-left: 10px;
}
/*Fini del Parallax*/

.avatar {
  padding: 50px;
}

.nombre {
  font-family: PP Neue Corp Wide, sans-serif;
  font-size: 1.3em;
  letter-spacing: 2px;
}
.gif {
  margin-top: -5em;
}
.separacion {
  background: url(../images/separacionBlanca.png);
  background-size: cover;
  position: relative;
  margin-top: -100px;
  height: 200px;
}
.separacion2 img {
  position: absolute;
  z-index: 1;
  height: 150px;
  width: 100%;
}
.viñeta {
  border-radius: 50%;
  height: 10px;
  margin-right: 5px;
  width: 10px;
}
.diseño strong {
  color: #ff0e90;
}
.listaDiseño li {
  margin-bottom: 10px;
}

.iconoSkill {
  cursor: crosshair;
  width: 80px;
  height: 80px;
  margin-right: 3vw;
  margin-bottom: 3vw;
  scale: 1;
  transition: all 300ms cubic-bezier(0.25, 0.25, 0.75, 0.75); /* lineal */
  transition-timing-function: cubic-bezier(0.25, 0.25, 0.75, 0.75); /* lineal */
}
.iconoSkill:hover {
  scale: 1.05;
  transition: all 300ms cubic-bezier(0.25, 0.25, 0.75, 0.75); /* lineal */
  transition-timing-function: cubic-bezier(0.25, 0.25, 0.75, 0.75); /* lineal */
}
.iconos li {
  display: inline-block;
}

.glitch {
  animation: glitch 4s linear infinite;
}

@keyframes glitch {
  2%,
  64% {
    transform: translate(2px, 0) skew(0deg);
  }
  4%,
  60% {
    transform: translate(-2px, 0) skew(0deg);
  }
  62% {
    transform: translate(0, 0) skew(5deg);
  }
}

.glitch:before,
.glitch:after {
  content: attr(title);
  position: absolute;
  left: 0;
}

.glitch:before {
  animation: glitchTop 1s linear infinite;
  clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
}

@keyframes glitchTop {
  2%,
  64% {
    transform: translate(2px, -2px);
  }
  4%,
  60% {
    transform: translate(-2px, 2px);
  }
  62% {
    transform: translate(13px, -1px) skew(-13deg);
  }
}

.glitch:after {
  animation: glitchBotom 1.5s linear infinite;
  clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
  -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
}

@keyframes glitchBotom {
  2%,
  64% {
    transform: translate(-2px, 0);
  }
  4%,
  60% {
    transform: translate(-2px, 0);
  }
  62% {
    transform: translate(-22px, 5px) skew(21deg);
  }
}

.glitchText {
  color: white;
  position: relative;
  margin: 0 auto;
}

@keyframes noise-anim {
  0% {
    clip: rect(44px, 9999px, 96px, 0);
  }
  5% {
    clip: rect(7px, 9999px, 43px, 0);
  }
  10% {
    clip: rect(68px, 9999px, 90px, 0);
  }
  15% {
    clip: rect(39px, 9999px, 58px, 0);
  }
  20% {
    clip: rect(1px, 9999px, 66px, 0);
  }
  25% {
    clip: rect(5px, 9999px, 3px, 0);
  }
  30% {
    clip: rect(96px, 9999px, 85px, 0);
  }
  35% {
    clip: rect(71px, 9999px, 25px, 0);
  }
  40% {
    clip: rect(63px, 9999px, 6px, 0);
  }
  45% {
    clip: rect(88px, 9999px, 83px, 0);
  }
  50% {
    clip: rect(64px, 9999px, 41px, 0);
  }
  55% {
    clip: rect(86px, 9999px, 41px, 0);
  }
  60% {
    clip: rect(86px, 9999px, 69px, 0);
  }
  65% {
    clip: rect(1px, 9999px, 60px, 0);
  }
  70% {
    clip: rect(16px, 9999px, 80px, 0);
  }
  75% {
    clip: rect(3px, 9999px, 8px, 0);
  }
  80% {
    clip: rect(54px, 9999px, 16px, 0);
  }
  85% {
    clip: rect(72px, 9999px, 55px, 0);
  }
  90% {
    clip: rect(14px, 9999px, 15px, 0);
  }
  95% {
    clip: rect(100px, 9999px, 23px, 0);
  }
  100% {
    clip: rect(28px, 9999px, 46px, 0);
  }
}
.glitchText:after {
  content: attr(data-text);
  position: absolute;
  left: 2px;
  text-shadow: -1px 0 red;
  top: 0;
  color: white;
  background: black;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim 2s infinite linear alternate-reverse;
}

@keyframes noise-anim-2 {
  0% {
    clip: rect(76px, 9999px, 88px, 0);
  }
  5% {
    clip: rect(19px, 9999px, 87px, 0);
  }
  10% {
    clip: rect(67px, 9999px, 85px, 0);
  }
  15% {
    clip: rect(68px, 9999px, 58px, 0);
  }
  20% {
    clip: rect(91px, 9999px, 11px, 0);
  }
  25% {
    clip: rect(78px, 9999px, 24px, 0);
  }
  30% {
    clip: rect(42px, 9999px, 69px, 0);
  }
  35% {
    clip: rect(67px, 9999px, 52px, 0);
  }
  40% {
    clip: rect(49px, 9999px, 94px, 0);
  }
  45% {
    clip: rect(51px, 9999px, 96px, 0);
  }
  50% {
    clip: rect(10px, 9999px, 57px, 0);
  }
  55% {
    clip: rect(42px, 9999px, 32px, 0);
  }
  60% {
    clip: rect(18px, 9999px, 81px, 0);
  }
  65% {
    clip: rect(11px, 9999px, 68px, 0);
  }
  70% {
    clip: rect(33px, 9999px, 25px, 0);
  }
  75% {
    clip: rect(35px, 9999px, 98px, 0);
  }
  80% {
    clip: rect(78px, 9999px, 49px, 0);
  }
  85% {
    clip: rect(31px, 9999px, 32px, 0);
  }
  90% {
    clip: rect(14px, 9999px, 71px, 0);
  }
  95% {
    clip: rect(89px, 9999px, 58px, 0);
  }
  100% {
    clip: rect(63px, 9999px, 43px, 0);
  }
}
.glitchText:before {
  content: attr(data-text);
  position: absolute;
  left: -2px;
  text-shadow: 1px 0 blue;
  top: 0;
  color: white;
  background: black;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim-2 3s infinite linear alternate-reverse;
}
.fontCard {
  font-size: 1em;
}
.logoCard {
  width: 200px;
  margin-bottom: 20px;
}
.lisCard {
  margin-bottom: 30px;
}
.lisCard li {
  display: inline-block;
  vertical-align: middle;
}
.iconoCard {
  margin-left: 20px;
  width: 50px;
}
.iconoClick {
  width: 50px;
}

.pulse {
  background: #cbd4ff !important;
  border-radius: 50% !important;
  color: #fff;
  text-align: center;
  animation: animate-pulse 3s linear infinite;
  cursor: pointer;
}
.pulse:hover {
  background: rgba(154, 152, 255, 0.275);
}
@keyframes animate-pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(154, 152, 255, 0.275),
      0 0 0 0 rgba(154, 152, 255, 0.275);
  }
  40% {
    box-shadow: 0 0 0 50px rgba(255, 109, 74, 0),
      0 0 0 0 rgba(154, 152, 255, 0.275);
  }
  80% {
    box-shadow: 0 0 0 50px rgba(255, 109, 74, 0),
      0 0 0 30px rgba(255, 109, 74, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(255, 109, 74, 0), 0 0 0 30px rgba(255, 109, 74, 0);
  }
}
.link {
  width: 20px;
  margin-left: 10px;
}
.textEnlace {
  color: #5c5bff;
  font-weight: bold;
}
.logoCardWunder {
  width: 250px;
  margin-bottom: 30px;
}
.logoCardIC {
  width: 70px;
  margin-bottom: 30px;
}

@media screen and (max-width: 768px) {
  .parallax__content {
    padding: 25% 5% 30% 5%;
    position: relative;
  }
  .top-text {
    padding-top: 50px;
  }
  .avatar {
    padding: 0px;
    margin-top: -100px;
    position: relative;
    z-index: 100;
  }
  .gif {
    margin-top: 0em;
  }
  .separacion {
    height: 101px;
  }
  .separacion2 img {
    margin-top: -5px;
  }
  .iconoSkill {
    cursor: crosshair;
    width: 60px;
    height: 60px;
  }
  .logoCard {
    width: 200px;
    margin: 20px auto 50px;
  }
  .lisCard {
    text-align: center;
  }
  .lisCard li {
    margin-bottom: 20px;
  }
  .logoCardWunder {
    width: 250px;
    margin: 30px auto;
  }
  .logoCardIC {
    margin: 30px auto 50px;
  }
}
